*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --clr-green: #4caf4f;
    --clr-black: #000000;
    --clr-white: #ffffff;
    --clr-bg-alt: #f5f7fa;
    --clr-bg: #263238;
    --title-color: #4d4d4d;
    --text-color: #717171;
    --h1-size: 40px;
    --h2-size: 34px;
    --h3-size:21px;
    --text-size: 16px;
    --section-padding: 40px;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Poppins", sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
input{
    border: none;
    outline: none;
}
img{
    max-width: 100%;
}
.container {
    padding: 0 15px;
    margin: auto;
}
@media (min-width: 768px) {
    .container {
    width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
    width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
    width: 1170px;
    }
}
/* utility classes */
.flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
}
.in-flex{
    display: inline-flex;
    align-items: center;
    gap: 10px;
}
.grid{
    display: grid;
}
h1{
    margin-bottom: 15px;
    font-size: clamp(32px,5vw,var(--h1-size));
    color: var(--title-color);
}
.title{
    margin-bottom: 15px;
    font-size: var(--h2-size);
    font-size: clamp(30px,5vw,var(--h2-size));
    font-weight: 600;
    color: var(--title-color);
}
.special-title{
    display: inline-block;
    color: var(--clr-green);
}
.special-link{
    font-size: var(--text-size);
    font-weight: 500;
    color: var(--clr-green);
}
h3{
    margin: 15px 0;
    font-size: var(--h3-size);
    font-weight: 700;
    color: var(--title-color);
}
.description{
    margin-bottom: 20px;
    line-height: 1.6;
    font-size: var(--text-size);
    color: var(--text-color);
}
.bg-alt-color{
    background-color: var(--clr-bg-alt);
}
.link-btn{
    display: inline-flex;
    padding: 12px 18px;
    background-color:var(--clr-green);
    color: var(--clr-white);
    border-radius: 6px;
}
.text-center{
    text-align: center;
}
section,
footer{
    padding: 60px 0;
}
@media (min-width: 992px) {
    .container {
        justify-content: space-between;
        column-gap: 20px;
    }
    .container .col{
        flex-basis: 47%;
    }
    .statistics .container .statistic-list {
    justify-content: space-between;
}

}
/* Components */
header {
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 25px 0;
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .container .logo a{
    font-size: var(--h3-size);
    font-weight: 700;
    color: var(--title-color);
}
header ul a{
    display: block;
}
@media (max-width: 991px) {
    header nav input{
        display: none;
    }
    header nav ul{
        position: fixed;
        top: 90px;
        right: -100%;
        min-width: 180px;
        padding: 10px;
        text-align: center;
        border-radius: 20px;
        background-color: var(--clr-bg-alt);
        box-shadow: 0 0 20px 2px rgb(0 0 0 / .1);
        transition: all 300ms ease;
    }
    header nav ul li a{
        margin: 8px 0;
        font-weight: 500;
        color: var(--clr-green);
    }
    header nav input:checked ~ ul{
        right: 20px;
    }
}
@media (min-width: 992px) {
    header nav input,
    header nav label{
        display: none;
    }
    header nav ul{
        display: flex;
        align-items: center;
        gap: 25px;
    }
    header nav ul li a{
        font-size: var(--text-size);
        font-weight: 500;
        color: var(--text-color);
    }
    header nav ul li a.active,
    header nav ul li a:hover{
        color: var(--clr-black);
    }
    header nav ul li a.login{
        margin-left: 120px;
        color: var(--clr-green);
    }
    header nav ul li a.sign-up{
        display: inline-block;
        padding: 10px;
        border-radius: 8px;
        background-color:var(--clr-green);
        color: var(--clr-white);
    }
}
.hero .container{
    min-height: calc(100vh - 200px);
}
.clients .container .row {
    gap: 100px;
}
.clients .container .row a{
    width: 60px;
}
.features .container .row {
    align-items: initial;
    gap: 30px;
}
.features .container .row .feature{
    width: 340px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 8px 2px rgb(0 0 0 / .09);
}
.features .container .row .feature .feature-icon{
    height: 60px;
}
.statistics .container .statistic-list {
    gap:30px  25px;
}
.statistics .container .statistic-list .statistic{
    width: 200px;
}
.statistics .container .statistic-list .statistic-details span:last-child{
    display: block;
    margin-top: 5px;
    font-size: var(--text-size);
    color: var(--text-color);
}
.customers .container {
    align-items: initial;
}
.customers .container .customers-info span{
    display: block;
    color: var(--clr-green);
    font-size: var(--h3-size);
    font-weight: 600;
}
.customers .container .customers-info .customers-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:20px  7px;
}
.customers .container .customers-info .customers-list li:not(:last-child){
    width: 50px;
}
.marketing .container .row{
    gap : 35px;
    padding-bottom: 40px;
}
.marketing .container .row .card{
    position: relative;
    width: 350px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 8px 2px rgb(0 0 0 / .15);
    background-color: var(--clr-bg-alt);
}
.marketing .container .row .card .card-details{
    padding: 20px;
}
@media (min-width: 992px) {
    .marketing .container .row{
        row-gap: 80px;
    }
    .marketing .container .row .card .card-details{
    position: absolute;
    top: 150px;
    right: 50%;
    transform: translateX(50%);
    width: 90%;
    border-radius: 20px;
    background-color: var(--clr-bg-alt);
    box-shadow: 0 0 20px 4px rgb(0 0 0 / .1);
}
.marketing .container .row .card .card-details p{
    min-height: 80px;
}
}
.demo .container h2{
    font-size: clamp(32px,5vw,var(--h1-size));
    color: var(--title-color);
    margin-bottom: 25px;
}
